<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragmentSite/layout}">
<head>
<meta charset="utf-8">
<title>home</title>

</head>
<body data-layout-fragment="contentSite">
<section id="feature" class="transparent-bg">
		<div class="container" >
			

			<div style="margin: 50px;" class="clients-area center wow fadeInDown">
				<h2><a>Qui sommes nous?</a></h2>
				
			</div>

	
			<section id="middle">
        <div class="container">
            <div class="row" th:each="liste : ${listeApropos1}">
                <div class="col-sm-12 wow fadeInDown">
                    <div class="skill" th:text="${liste.libelle_propos1}">
                       
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						
                        
                    </div>

                </div><!--/.col-sm-6-->

               <!--  <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        
                        <div class="panel-group" id="accordion1">
                         
 								<img style="width: 90%; " alt="" th:src="@{getImage_propos1(image_propos1=${liste.image_propos1})}">
 							
                        </div>/#accordion1
                        
                    </div>
                </div> -->

            </div><!--/.row-->
        </div><!--/.container-->
    </section>
			
			<hr>
			<div class="team">
			
			<div class="row clearfix">
					<div class="col-md-4 col-sm-6 " th:each="liste : ${listeApp2}">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<!-- <div class="pull-left"> -->
								<div class="">
									<a href="#"><img class="img-responsive media-object imgyan" th:src="@{getImage_app2(image_app2=${liste.image_app2})}" style="width: 100%; height:200px" alt=""></a>
								</div>
								<div class="media-body">
										<br>
									<h4 th:text="${liste.titre_app2}"></h4>
									
								</div>
							</div><!--/.media -->
						
							<p th:text="${liste.libelle_app2}"></p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					
					<!-- <div class="col-md-4 col-sm-6 ">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object imgyan" src="/images/tum-vision.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Vision</h4>
						
									
								</div>
							</div>/.media
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						</div>
					</div>/.col-lg-4	 -->				
				</div> <!--/.row -->
				</div>
		</div><!--/.container-->
	</section><!--/#feature-->

			

</body>
</html>