 <!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>saisie cat</title>
</head>
<body>
  <div id="page-wrapper" data-layout-fragment="content">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Blank Page</h1>
                </div>
                <!--End Page Header -->
            </div>

            

        </div>
</body>
</html>