<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blank</title>
    
    
    
    <!-- Core CSS - Include with every page -->
    <link href="/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    
   	  <link href="/css/style.css" rel="stylesheet" />
      <link href="/css/main-style.css" rel="stylesheet" />
      
     
    

</head>

<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
            <div data-th-replace="fragment/heading :: fHeading"></div>         
        <!-- end navbar top -->

        <!-- navbar side -->
         <div data-th-replace="fragment/menu :: fMenu"></div>    
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div data-layout-fragment="content"></div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page --> 
    <script src="/plugins/jquery-1.10.2.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/plugins/pace/pace.js"></script>
    <script src="/scripts/siminta.js"></script>
     <script src="/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/dataTables.bootstrap.js"></script>
       <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

</body>

</html>
