<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blank</title>
    
    
    
    <!-- Core CSS - Include with every page -->
    <link th:href="@{/plugins/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/plugins/pace/pace-theme-big-counter.css}" rel="stylesheet" />
    <link th:href="@{/plugins/timeline/timeline.css}" rel="stylesheet" />
   	  <link th:href="@{/css/style.css}" rel="stylesheet" />
      <link th:href="@{/css/main-style.css}" rel="stylesheet" />
      <link th:href="@{/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
      
      
      <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>


</head>

<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
            <div data-th-replace="fragment/heading :: fHeading"></div>         
        <!-- end navbar top -->

        <!-- navbar side -->
         <div data-th-replace="fragment/menu :: fMenu"></div>    
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div data-layout-fragment="content"></div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->



	

    <!-- Core Scripts - Include with every page --> 
    <script th:src="@{/plugins/jquery-1.10.2.js}"></script>
    <script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/plugins/pace/pace.js}"></script>
    <script th:src="@{/scripts/siminta.js}"></script>
     <script th:src="@{/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/plugins/dataTables/dataTables.bootstrap.js}"></script>
    
     <script  th:src="@{/richtext/jquery.richtext.min.js}"></script> 
    
       <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
            
         
        });
    </script>

</body>

</html>
