<nav class="navbar-default navbar-static-side" role="navigation" data-th-fragment="fMenu">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
               
                <div sec:authorize="hasRole('SUPERADMIN')">   
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                          <div class="user-info">
                             <div th:text="${utilisateur.Nom_utiliseur}" ></div> <strong th:text="${utilisateur.prenom_utilisateur}">Deen</strong><br>
                             
                                <div class="user-text-online">
                                    <span class=""></span>&nbsp;
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    
                    <li class="">
                        <a data-th-href="@{/homeSuper}"><i class="fa fa-dashboard fa-fw"></i>Accueil</a>
                    </li>
                      <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Accueil site<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/Baniere}">Baniere</a>
                            </li>
                             <li>
                                <a data-th-href="@{/listePartenaire}">Partenaire</a>
                            </li>
                           
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>A propos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/apropos1/listeApropos1}">Qui sommes nous?</a>
                            </li>
                            <li>
                                <a data-th-href="@{/apropos/listeApp2}">Nos objectifs</a>
                            </li>
                             
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                  
                   
                    
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Service<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                          
                            <li>
                                <a data-th-href="@{/listeElementPromotion}">Element d'un service</a>
                            </li>
                             
                            <li>
                                <a data-th-href="@{/ListePromotion}">Services</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                      <li>
                        <a data-th-href="@{/index/listeContact}"><i class="fa fa-bar-chart-o fa-fw"></i>Contact<span class="fa arrow"></span></a>
                        
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a data-th-href="@{/apropos/listeApp}"><i class="fa fa-bar-chart-o fa-fw"></i>Equipe hanana service<span class="fa arrow"></span></a>
                        
                        <!-- second-level-items -->
                    </li>
                </ul>
                
                </div>
                
                 <div sec:authorize="hasRole('ADMIN')">   
               <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                          <div class="user-info">
                             <div th:text="${utilisateur.Nom_utiliseur}" ></div> <strong th:text="${utilisateur.prenom_utilisateur}">Deen</strong><br>
                             
                                <div class="user-text-online">
                                    <span class=""></span>&nbsp;
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    
                    <li class="">
                        <a data-th-href="@{/home}"><i class="fa fa-dashboard fa-fw"></i>Accueil</a>
                    </li>
                      <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Accueil site<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/Baniere}">Baniere</a>
                            </li>
                             <li>
                                <a data-th-href="@{/listePartenaire}">Partenaire</a>
                            </li>
                           
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>A propos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a data-th-href="@{/apropos1/listeApropos1}">Qui sommes nous?</a>
                            </li>
                            <li>
                                <a data-th-href="@{/apropos/listeApp2}">Nos objectifs</a>
                            </li>
                             
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                  
                   
                    
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Service<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                          
                            <li>
                                <a data-th-href="@{/listeElementPromotion}">Element d'un service</a>
                            </li>
                             
                            <li>
                                <a data-th-href="@{/ListePromotion}">Services</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a data-th-href="@{/apropos/listeApp}"><i class="fa fa-bar-chart-o fa-fw"></i>Equipe <span class="fa arrow"></span></a>
                        
                        <!-- second-level-items -->
                    </li>
                </ul>
                
                </div>
                 <div sec:authorize="hasRole('CANDIDAT')">   
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                          <div class="user-info">
                             <div th:text="${utilisateur.Nom_utiliseur}" ></div> <strong th:text="${utilisateur.prenom_utilisateur}">Deen</strong><br>
                             
                                <div class="user-text-online">
                                    <span class=""></span>&nbsp;
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    
                    <li class="">
                        <a data-th-href="@{/homeCandidat}"><i class="fa fa-dashboard fa-fw"></i>Accueil</a>
                    </li>
                     
                    <li>
                        <a ><i class="fa fa-bar-chart-o fa-fw"></i>Mon Cv<span class="fa arrow"></span></a>
                       
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a data-th-href="@{/offre/listeOffre}"><i class="fa fa-bar-chart-o fa-fw"></i>Les Offres<span class="fa arrow"></span></a>
                       
                        <!-- second-level-items -->
                    </li>
                    
                   
                     
                </ul>
                
                </div>
                
                
                
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>