 <!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>cat</title>
</head>
<body>
  <div id="page-wrapper" data-layout-fragment="content">
			 <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables Candidat</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                          <!--    <a data-th-href="@{/creerCandidat}" class="btn btn-success  fa fa-plus">Ajouter</a> -->
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>nom</th>
                                            <th>prenom</th>
                                            <th>email</th>
                                          
                                              <th>Action </th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr class="gradeU" th:each="liste : ${listeCandidat}">
                                            <td th:text="${liste.Nom_utiliseur}"></td>
                                           <td th:text="${liste.prenom_utilisateur}"></td>
                                            <td th:text="${liste.email_utilisateur}"></td>
                                           <td>
                                            	 <a title="supprimer" 
                                            	 					
                       											     class="btn btn-danger btn-xs delBtn"><i class="fa fa-trash-o"></i> </a>  
                       											     
                       											      <a  title="modifier"
                            	
                             	 class="btn btn-success btn-xs eBtn"><i class="fa fa-pencil"></i> 
                             </a> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            

        </div>
</body>
</html>