<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragmentSite/layout}">
<head>
<meta charset="utf-8">

 <link rel="stylesheet" th:href="@{../css/style.css}">

<title>service</title>

</head>
<body data-layout-fragment="contentSite">


	<section id="" >
	<div class="container ">
        <div class="center fadeInDown">
            <h2><a>Service</a></h2>
           
        </div>
     
       <div class=""> 
      <!-- <div class="row">
       
        <div class="col-sm-4 " th:each="liste : ${ListePromotion}">
          <div class="card ">
           
            <div class="price  ">
              <h1 style="color: #6a848f;" th:text="${liste.libelle_promo}"></h1> 
              
               <h2 style="color: #ffeb00;" th:text="${liste.prix_promo} + FCFA"></h2>
            </div>
            <hr style="color: #6a848f; size:40px;"> 
            <div class="option fadeInDown">
              <ul th:each="elt: ${liste.ElementPromo}">
              <li> <i class="fa fa-check" aria-hidden="true"></i> <span  th:text="${elt.libelle_elt}"></span> </li>
           
              </ul>
            </div>
           
          </div>
        </div>
      
      </div> -->
      
      
      <div class="row">
                <div class="features">
                    <div th:each="liste : ${ListePromotion}"  class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div   class="feature-wrap">
                        <label>emoj</label>
                    
                            <i th:class="${liste.libelle_promo}" ></i>
                            <h4 th:text="${liste.libelle_promo}">Industries et maintenance</h4>
                            <h3 th:text="${liste.description_promo}">Nous vous aidons à retrouver un emploi</h3>  
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                             <h4>Sustainable development</h4>
                            <h3>Creer gratuitement votre compte en cliquant <a th:href="@{/index/creerCandidat}">ici</a></h3>
                        </div>
                    </div><!--/.col-md-4-->
                    
                determination
                </div><!--/.services-->
            </div><!--/.row-->   
            
            
    </div>
</div>
</section>
		

	
	
</body>

</html>