<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragmentSite/layout}">
<head>
<meta charset="utf-8">
<title>home</title>
</head>
<body data-layout-fragment="contentSite">

	<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2><a>Domaine d'emploi</a></h2>
               
            </div>

            <div class="row ">

                <div style="padding: 0px 75px; text-align: center;" class="col-sm-6 col-md-12 " >
                   <div class="wow fadeInUp " th:each="liste,i : ${listeDomaine}">
                              	 <a th:href="@{/index/listeOffreDomaine(id_domaine=${liste.id_domaine})}" type="button" class="btn btn-info btn-lg btn-block" th:text="${liste.libelle_domaine}">Block level button</a> 
                              	 <br>
                             </div>
<!--                     <div class="media services-wrap wow fadeInDown"> -->
<!--                         <div class="pull-left"> -->
<!--                             <img style="width: 300px; height: 150px;" -->
<!--                              th:src="@{getPhotiService(photiService=${service.photiService})}" --> 
<!--                              class="img-responsive"> --> 
<!--                         </div> -->
<!--                         <div class="media-body"> -->
<!--                             <h3 class="media-heading" th:text=${service.titre_ser}></h3> -->
<!--                             <p th:text=${service.libelle_ser}> </p> -->
<!--                              <b>Categorie: </b><span th:text=${service.categorie.libelle_cat}> </span><br> -->
<!--                               <a th:href="@{footerService(id_ser=${service.id_ser})}" > détail...</a> -->
<!--                         </div> -->
<!--                         <div> -->
                        	
<!--                         </div> -->
<!--                     </div> -->
                </div>

                                                              
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->


	
	
</body>
</html>