 <!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>saisie cat</title>
</head>
<body>
  <div id="page-wrapper" data-layout-fragment="content">
			 <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Apropos</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             a propos de nous
                        </div>
                        <div class="panel-body">
                            <div class="row">
                        <div class="col-lg-12">
                                    <form role="form" th:action="@{creerApropos2}" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Titre</label>
                                            <input class="form-control" th:field="${apropos2.titre_app2}">
                                          
                                        </div>
                                        
                                    
                                        <input type="hidden"  th:field="${apropos2.id_app2}">
                                       
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea th:field="${apropos2.libelle_app2}" class="form-control" rows="3"></textarea>
                                        </div>
  
                                        <div class="form-group">
                                        	<label>Image</label>
                                        	<input type="file" id="image" name="picture" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                        <button type="reset" class="btn btn-success">Annuler</button>
                                        <a data-th-href="@{/apropos/listeApp2}" class="btn btn-warning">Liste</a>
                                    </form>
                                </div>
                        </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            

        </div>
</body>
</html>