<meta charset="utf-8">
<div class="bott" data-th-fragment="fFooter" xmlns:th="http://wwwthymeleaf.org">

<section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h3>SMENGS </h3>
                        <ul>
                            <li><a th:href="@{/apropos/listeAppSite}">a propos</a></li>
                            <li><a th:href="@{/index/contact}">Nous rencontrer</a></li>
                            <li><a th:href="@{/footerEquipe}">Equipe</a></li>
                                               
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h3>Domaine d'emploi</h3>
                      <ul th:each="liste : ${listeDomaine}">
                            <li><a  th:text="${liste.libelle_domaine}"></a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-6" >
                    <div class="widget">
                        <h3>Nos services</h3>
                        <ul th:each="liste : ${ListePromotion}">
                            <li><a  th:text="${liste.libelle_promo}"></a></li>
                           
       
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

<!--                 <div class="col-md-3 col-sm-6"> -->
<!--                     <div class="widget"> -->
<!--                         <h3> Nos partenaires </h3> -->
<!--                         <ul> -->
<!--                             <li><a href="#">Adipisicing Elit</a></li> -->
<!--                             <li><a href="#">Eiusmod</a></li> -->
<!--                             <li><a href="#">Tempor</a></li> -->
<!--                             <li><a href="#">Veniam</a></li>                            -->
<!--                         </ul> -->
<!--                     </div>     -->
<!--                 </div>/.col-md-3 -->
            </div>
        </div>
    </section><!--/#bottom-->
	
	<div class="top-bar">
		<div class="container">
			<div class="row">
			    <div class="col-lg-12">
				   <div class="social">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
						</ul>
				   </div>
                </div>
			</div>
		</div><!--/.container-->
	</div><!--/.top-bar-->



    </div>