<meta charset="utf-8">
   <header id="header" data-th-fragment="fHeading" xmlns:th="http://wwwthymeleaf.org">
        <nav class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <!--  <a class="navbar-brand" href="index.html"><img alt="" style="width: 105px; height: 50px;" src="../img/logo2.JPG"></a> -->
                    <a class="navbar-brand" href="#">SMENGS<h1>&#129297;</h1></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                   <!--  <li class="active"><a th:href="@{homeSite}">Home</a></li> -->
                        <li class=""><a th:href="@{/}">Accueil</a></li>
                         <!-- <li class="${even==true? 'active':''}"><a th:href="@{home}">Home</a></li> -->
                        <li><a th:href="@{/apropos/listeAppSite}">A propos</a></li>
                     <!--    <li><a th:href="@{/index/listeSerSite}">Emploi</a></li> -->
                        <li><a th:href="@{/promotion}">Service</a></li>
                         <li><a th:href="@{/index/contact}">Contact</a></li>    
                        <!-- <li><a th:href="@{blog}">Blog</a></li> --> 
                        
                        
                       <!--  <li> 
                        <select    id="id_service" class="date-picker form-control cc">
                         		 
                          	<option>offre d'emploie </option>
                          	<option>option 2 </option>
                          	<option>option 3 </option>
                          </select>
                         
                      </li> -->
                        
                      <!--   <li ><a th:href="@{/index/creerCandidat}">Créer un compte</a></li>   -->           
                       <!--  <li><a style="background-color:#14bbfc" th:href="@{/login}">Se connecter</a></li>   -->         
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
 