<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hanana</title>

    <!-- Bootstrap -->
     <link th:href="@{/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">      
	<link th:href="@{/css/main.css}" rel="stylesheet">
	 <link th:href="@{/css/responsive.css}" rel="stylesheet">
	 
	 

    <link rel="stylesheet" th:href="@{/css/cssSlid/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/cssSlid/style.css}">
	 
	 <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    
  </head>

<body class="homepage">

	<div data-th-replace="fragmentSite/heading :: fHeading"></div>
	<div data-layout-fragment="contentSite"></div>
	<div data-th-replace="fragmentSite/footer :: fFooter"></div>


 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.prettyPhoto.js}"></script>
    <script th:src="@{/js/jquery.isotope.min.js}"></script>   
    <script th:src="@{/js/wow.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	
 <script th:src="@{/js/jsSlid/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jsSlid/popper.min.js}"></script>
    <script th:src="@{/js/jsSlid/bootstrap.min.js}"></script>
    <script th:src="@{/js/jsSlid/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jsSlid/main.js}"></script>
	
</body>

</html>
