 <!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Banniere</title>
</head>
<body>
  <div id="page-wrapper" data-layout-fragment="content">
			 <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Banniere</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Banniere
                        </div>
                        <div class="panel-body">
                            <div class="row">
                        <div class="col-lg-12">
                                    <form role="form" th:action="@{homeSiteP}" method="post" enctype="multipart/form-data">
									
									<input type="hidden" th:field="${home.id_home}">
									 <div class="form-group">
                                            <label>Titre</label>
                                            <input class="form-control" th:field="${home.titreHome}">
                                          
                                        </div>
                                        
                                       
									
									<div class="item form-group">
										<div class="centrer">
											<label>Photo </label>
										</div>
										<div class="centrer">

											<input type="file" id="image" name="picture" />

										</div>
									</div>



									<button type="submit" class="btn btn-primary">Ajouter</button>
                                        <button type="reset" class="btn btn-success">Annuler</button>
                                        <a th:href="@{/Baniere}" class="btn btn-warning">Liste</a>
                                    </form>
                                </div>
                        </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            

        </div>
</body>
</html>