 <!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>promotion</title>
</head>
<body>
  <div id="page-wrapper" data-layout-fragment="content">
			 <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Services</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Services
                        </div>
                        <div class="panel-body">
                            <div class="row">
                        <div class="col-lg-12">
                                    <form role="form" th:action="@{creationPromotion}" method="post" >
									
									
									   
                                        <div class="form-group">
                                            <label>Titre Service</label>
                                            <input class="form-control" th:field="${promotion.libelle_promo}"/>
                                             <label>Description Service</label>
                                            <textarea class="form-control" th:field="${promotion.description_promo}"> </textarea>
                                           
                                        </div>
									
									<input type="hidden"  th:field="${promotion.id_promo}">
                                        
                                        <div class="form-group">
                                            <label>Element</label>
											 <div th:each="s:${listeElementPromotion}">
												    <input type="checkbox" id="coding" name="couleur" th:value="${s.id_elt}" th:field="${promotion.ElementPromo}">
												    <span for="coding" th:text="${s.libelle_elt}"></span>
												  </div>
										</div>

									<button type="submit" class="btn btn-primary">Ajouter</button>
                                        <button type="reset" class="btn btn-success">Annuler</button>
                                           <a data-th-href="@{/ListePromotion}" class="btn btn-warning">Liste</a>
                                    </form>
                                </div>
                        </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

            

        </div>
</body>
</html>